.caja {
    background: #ffffff;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 12px;
    padding: 10px;
  }
  
  footer {
    background: #212529;
  }
  
  .caja2 {
    background-color: goldenrod;
  }